adafruit-circuitpython-vl53l0x==3.6.14
adafruit-circuitpython-pca9685==3.4.17
adafruit-circuitpython-display-text==3.2.4
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.11.0.86
picamera2==0.3.12
Pillow==8.1.2
pycoral==2.0.0
gTTS==2.5.4
nltk==3.9.1
pydub==0.25.1
contractions==0.1.73
g2p-en==2.1.0
SpeechRecognition==3.14.3
PyAudio==0.2.14
openai==1.79.0
python-dotenv==1.1.0